<section class="dialog">
  <div class="dialog__header">
    <ng-container *ngIf="data; else elseTemplate">
      <h2 class="dialog__title">
        {{ isDelete ? 'Removed SPP:' + data.element.name : 'Edit SPP:' + data.name }}
      </h2>
    </ng-container>
    <ng-template #elseTemplate>
      <h2 class="dialog__title">
        New SSP
      </h2>
    </ng-template>
    <mat-icon class="dialog__icon" [svgIcon]="ICONS.CLOSE" mat-dialog-close></mat-icon>
  </div>

  <mat-dialog-content class="dialog__content">
    <wl-tab-group [data]="data"></wl-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog__footer" align="end">
    <button class="dialog__footer-button" mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="callSubmitInTabMainSettings()">Save</button>
  </mat-dialog-actions>

</section>