.test {
	color: #ffffff;

	color: #f2f3f5;
	background: rgba(242, 243, 245, 1);

	color: #00a34f;

	color: #00b959;
	color: rgba(0, 185, 89, 0.08);

	color: #000000;
	color: rgba(0, 0, 0, 0.04);

	background: linear-gradient(0deg, #4caf50, #4caf50), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	color: #4caf50;

	color: #ff9900;
	background: linear-gradient(0deg, #ff9900, #ff9900), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

	color: #32a2ff;

	color: #d50000;

	color: #f44336;

	color: #2e7d32;

	color: #d32f2f;

	color: #0044af;

	color: #0075e0;

	color: #006727;
}
